<p id="notice"><%= notice %></p>

<h1>Continentes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @continentes.each do |continente| %>
      <tr>
        <td><%= continente.name %></td>
        <td><%= link_to 'Show', continente %></td>
        <td><%= link_to 'Edit', edit_continente_path(continente) %></td>
        <td><%= link_to 'Destroy', continente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Continente', new_continente_path %>
